
body{
    text-align: center;
    font-family: "Montserrat-Black"; 
}

hi,h2,h3{
    font-family: "Montserrat-Black";
}

h1{
    /* font-family: "Montserrat-Black"; */
    font-size: 4rem;
    line-height: 1.5;
    
}

h2{
    /* font-family: "Montserrat-Black"; */
    font-size: 3rem;
    line-height: 1.5;
   
}

h3{
    /* font-family: "Montserrat-Black"; */
    font-size: 1.5;
    
 
}
p{
    color: #848181;
}

/* TITLE */

#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.container-fluid{
    padding: 3% 15% 7% ;
}

/* Title image */

.title-image {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    /* right: 30%; */
}

/* navigation-bar */
.navbar {
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-size: 2rem;
    font-family: "Ubuntu";
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.btn{
    margin: 5% 3% 5% 0;
}



/* features */

#features{
    padding: 7% 15% ;
    background-color:#fff;
    position:relative;
    /* z-index: 1; */
}

.feature-box{
    text-align: center;
    padding: 5%;
} 
.material-icons{
    color:#ff4c68;
    margin-bottom: 1rem;
}
.material-icons:hover{
    color:#ef8172;
}

/* TESTIMONIALS */

#testimonials{
   
    text-align: center;
    background-color: #ff4c68; 
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

.carousel-item{
    padding: 7% 15%;
}

/* press */

#press{
    background-color:#ff4c68;
    /* text-align: center; */
    padding-bottom: 3% ;
}

.class-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 1%;
}

/* call to action */
#cta{
    background-color: #ff4c68;
    /* text-align: center; */
    color:#fff;
    padding: 7% 15%;
}

h4{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;

}
.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* FOOTER */

#footer{
    padding: 2% 15%;
    background-color:#fff;
    /* text-align: center; */
}

.footer-text{
    color: black;
}

.bi{
    padding: 1%;
    color: #848181;
}


/* mobile friendly */
@media(max-width: 1080px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
   }


}